<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="/prj/cx/css/seven.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div id=divContent>

	<div id=divFooter style="padding:1em 0; color:#fff; font-family:sans-serif; font-size:0.75em; text-align:center;">
		<a href="." style='color:#fff; text-decoration:none; ' target='_new'>Seven News Archive</a> - Created and maintained by <a href="http://www.connexions.org" style='color:#fff; text-decoration:none; '  target='_new'>Connexions Archive & Library</a>
		<br>
		This project has been made possible in part by <a href="http://www.canada.ca" style='color:#fff; text-decoration:none; '  target='_new'>the Government of Canada</a>.
	</div>

</div>
</body>